extends layouts/layout.pug

block content
  h1= message

  form(class="auth_form")
    input(class="auth_form__username_input" type="text" name="username")
    input(class="auth_form__password_input" type="password" name="password")
    input(type='submit' value='Submit')

  div(class="auth_error_container")
    span(class="auth_error_container__error_message")

  script.
    const authForm = document.querySelector('.auth_form')

    authForm.onsubmit = e => {
      e.preventDefault()
      
      const usernameInput = document.querySelector('.auth_form__username_input')
      const passwordInput = document.querySelector('.auth_form__password_input')
      const data = {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({
          username: usernameInput.value,
          password: passwordInput.value
        })
      }
      authenticateAdmin(data)
    }

    function authenticateAdmin(fetchData) {
      fetch('/admin', fetchData)
        .then(data => data.json())
        .then(({ data }) => {
          if (!data.error) {
            goToDatabaseDashboard()
          }
          else {
            showAuthenticationErrorMessage(data.error)
          }
        })
        .catch(err => console.log(err))
    }

    function goToDatabaseDashboard() {
      const goToUrl = window.location.href + '/dashboard'
      window.location.href = goToUrl
    }

    function showAuthenticationErrorMessage(errorMessage) {
      const authErrorMessageInDom = document.querySelector('.auth_error_container__error_message')
      authErrorMessageInDom.innerText = errorMessage
    }
